@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: "Odibee Sans", cursive;
  font-size: 20px;
}

h1 {
  margin-top: 0;
  padding-top: 15px;
  text-align: center;
}

.form {
  margin: 0 auto;
}

.App {
  color: rgb(250, 133, 56);
}

.container {
  display: flex;
  flex-direction: column;
}

.attachments {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.gun-weapon {
  width: 500px;
  margin-top: 15px;
  border: 1px solid rgb(250, 133, 56);
}

.gun {
  margin: 0 auto;
}

.om {
  padding-bottom: 15px;
}

.optics-att,
.other-att {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(250, 133, 56);
  background-size: contain;
}

.om-att {
  width: 200px;
  height: 100px;
  border: 1px solid rgb(250, 133, 56);
}

select {
  background-color: rgb(250, 133, 56);
  border: 0;
  font-family: sans-serif;
  font-size: 18px;
  padding: 12px;
  width: 200px;
  max-width: 100%;
  appearance: none;
  cursor: pointer;

  background-image: url("./mini-down.jpg");
  background-repeat: no-repeat;
  background-position: 147px center;
}

@media screen and (max-width: 500px) {
  .attachments {
    width: 100%;
  }

  .gun-weapon {
    width: 300px;
    margin-top: 15px;
    border: 1px solid rgb(250, 133, 56);
  }

  .optics-att,
  .other-att {
    width: 100px;
    height: 100px;
  }

  .om-att {
    width: 150px;
    height: 100px;
  }

  .optics,
  .other,
  .om {
    padding: 15px;
  }
}
